#content {
	white-space: pre-line;
    display: block;
    color: black;
    font-family: Georgia;
    font-size: 1em;
}
#content h1 {
    font-family: Verdana;
}
#content h2 {
    font-family: Verdana;
}
#content h4 {
    font-family: Verdana;
}