html {
        background-color: #CFD4D3;
}
#header {
	top: 5px;
    height: 216px;
    display: block;
    background-color: #636E63;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
li {
    display: inline-block;
    padding: 5px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #0A4D14;
    color: white;
    font-family: Georgia;
}
li a {
    color: white;
    text-decoration: none;
}
#footer {
	clear:both;
	bottom:5px;
    height: 108px;
    background-color: #636E63;    
    font-family: Georgia;
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#navigationBar {
    margin-left:570px;
    position: absolute;
    margin-top: -10px;
    font-family: Georgia;
    font-size: 1em;
}
#pic {
    margin-left: 8px;
    height:200px;
    width: 200px;
    margin-top: 8px;
    float:left;
}
img {
    width: 100%;
    height: auto;
}
#name {
    font-family: Forte;
    font-weight: bold;
    font-size: 4em;
    margin-top: 100px;
    margin-right: 200px;
    float:right;
}
#aboutMe {
	white-space: pre-line;
	float: left;
	width:48%;
	border: 2px solid black;
	padding: 1%;
}
#Contact {
	white-space: pre-line;
	float:right;
	width:47%;
	padding: 1%;
	border: 2px solid black;
}